<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>登录</title>
  <link rel="stylesheet" href="/manage/css/bootstrap.css">
  <link rel="stylesheet" href="/manage/css/reset.css">
  <link rel="stylesheet" href="/manage/css/login.css">
  <link rel="stylesheet" href="/manage/css/bootstrapValidator.css">
  <script src="/manage/3rd/jquery.js"></script>
  <script src="/manage/3rd/bootstrap.js"></script>
  <script src="/manage/3rd/bootstrapValidator.js"></script>
  <script src="/manage/3rd/angular-1.4.6.js"></script>
  <script src="productManage_create.js"></script>
</head>

<body ng-app="productManageCreateApp" ng-controller="productManageCreateCtrl" ng-init="init()">
  <div style="padding: 0 50px 100px 50px">
    <h3>创建商品</h3>
    <div style="padding: 30px 0">
      <div class="form-horizontal">
        <div class="form-group">
          <label for="goodsName" class="col-sm-2 control-label">商品名称</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="goodsName" placeholder="" ng-model="goodsName">
          </div>
        </div>
        <div class="form-group">
          <label for="mainPicture" class="col-sm-2 control-label">商品主图</label>
          <div class="col-sm-5">
            <img ng-src="{{imgUrl}}" style="width: 160px; height:160px;border: 1px solid #cccccc" ng-show="mainPicture!==''">
            <form enctype="multipart/form-data" id="uploadForm">
              <input type="file" name="uploadFile" id="upload_file" style="margin-bottom:10px;">
              <input type="button" id="uploadPicButton" value="上传" ng-click="uploadImage()">
            </form>
          </div>
        </div>
        <div class="form-group">
          <label for="detailPicture" class="col-sm-2 control-label">详情图片</label>
          <div class="col-sm-5">
            <img ng-src="{{item}}" style="width: 160px; height:160px;border: 1px solid #cccccc" ng-repeat="item in detailPicList">
            <form enctype="multipart/form-data" id="uploadForm">
              <input type="file" name="uploadFile" multiple id="upload_file_multiple" style="margin-bottom:10px;">
              <input type="button" id="uploadPicButton" value="上传" ng-click="uploadMultpie()">
            </form>
          </div>
        </div>
        <div class="form-group">
          <label for="goodsPrice" class="col-sm-2 control-label">商品价格</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="goodsPrice" placeholder="" ng-model="goodsPrice">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary" ng-click="create()">确认创建</button>
            <button class="btn btn-default" ng-click="cancle()" style="margin-left: 50px">取消</button>
          </div>
        </div>
      </div>
    </div>
    <!-- 模态框 -->
    <div class="modal fade" tabindex="-1" role="dialog" id="myModal" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="sure()"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">创建商品</h4>
          </div>
          <div class="modal-body">
            <p class="text-center">创建成功</p>
          </div>
          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
            <button type="button" class="btn btn-primary" ng-click="sure()">确认</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>