<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>

  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/reset.css">

  <script src="/3rd/jquery.js"></script>
  <script src="/3rd/bootstrap.js"></script>
  <script src="/3rd/angular-1.4.6.js"></script>
  <script src="createOrder.js"></script>
  <style>
    .table {
      margin-bottom: 0
    }
  </style>
</head>

<body ng-app="createOrderApp" ng-controller="createOrderCtrl" ng-init="init()" ng-cloak>
  <div class="container" style="margin-bottom:100px">
    <div>
      <label for="address">收货地址</label>
      <textarea id="address" cols="30" rows="5" class="form-control" ng-model="address"></textarea>
    </div>
    <div>
      <label style="padding: 30px 0 0 0">确认订单信息</label>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <th>店铺宝贝</th>
            <th>单价</th>
            <th>小计</th>
          </thead>
          <tbody>
            <tr>
              <td>
                <img ng-src="{{downUrl + '?imageName=' + goods.mainPicture}}" width=" 50">
                <span ng-bind="goods.goodsName"></span>
              </td>
              <td style="vertical-align: middle"><span ng-bind="goods.goodsPrice"></span></td>
              <td style="vertical-align: middle"><span ng-bind="goods.goodsPrice"></span></td>
            </tr>
            <tr>
              <td>
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="word" class="col-sm-2 control-label">给卖家留言：</label>
                    <div class="col-sm-6">
                      <textarea name="" id="word" cols="30" rows="1" class="form-control" ng-model="leaveWord"></textarea>
                    </div>
                  </div>
                </form>
              </td>
              <td colspan="2">运送方式:普通配送快递 免邮</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div style="float: right">
        <span>店铺合计(含运费)</span>
        <span style="color: red; font-size: 20px;font-weight: bold;margin-left: 20px">
          <span>￥</span>
          <span ng-bind="goods.goodsPrice"></span>
        </span>
      </div>
      <div style="clear: both;"></div>
      <div style="float: right;margin-top: 20px">
        <button class="btn btn-primary" style="font-size: 18px;padding: 6px 33px" ng-click="submitOrder()">提交订单</button>
      </div>
    </div>
    <!-- 模态框 -->
    <div class="modal fade" tabindex="-1" role="dialog" id="myModal" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="sure()"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">提交订单</h4>
          </div>
          <div class="modal-body">
            <p>提交成功</p>
          </div>
          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
            <button type="button" class="btn btn-primary" ng-click="sure()">确认</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>

</html>